syncerp.example.com {
  encode gzip

  reverse_proxy 127.0.0.1:8080 {
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-Host {host}
    header_up X-Request-ID {http.request.header.X-Request-ID}
  }
}
